* {
	margin: 0;
  padding: 0;
}

body {
  background: #fcd751;
  font-family: 'Zen Kurenaido', sans-serif;
}

img {
  border-radius: 8px;
}
.Joe {
  width: 400px;
  padding: 40px;
  margin: 5px 1px 1px 0px;
}